body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.blok {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}

.rood {
    background-color: red;
}

.blauw {
    background-color: blue;
}

.geel {
    background-color: yellow;
    color: black;
}

.groen {
    background-color: green;
}
